
# make compiled source files *NOT* show up in diffs and *NOT* show up in merge conflicts and *NOT* be included as a used language by github
# note: github does not respect -diff (i think)
src/**         -merge -diff linguist-generated=true
src/**/*       -merge -diff linguist-generated=true
bindings/**    -merge -diff linguist-generated=true
bindings/**/*  -merge -diff linguist-generated=true
binding.gyp    linguist-vendored
*.wasm         -merge -diff linguist-generated=true
